@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

*{
    font-family: 'Baloo Paaji 2', cursive;
    
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .card{
      height: 464px;
  }
  .container{
      width: 100%;
  }
  ol ol, ol ul, ul ol, ul ul{
     padding: 0%;
 }

                                                  /* header  */

      .header{
        border: 0px solid black;
        width: 100%;
        background-color: #faf4f1;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        display: inline-block;
        padding: 25px;
    }
    
    #main_logo{
        display: inline-block;
        left: 40px;
        position: absolute;
        overflow: auto;
    }
    .element{
        list-style-type: none;
        margin: 10px;
        width: 60%;
        margin: auto;
        top: 9px;
          position: relative;
          right: 16px;
        user-select: none;
    } 
    .element li {
        display: inline;
        padding: 2px;
    }    
    .element li a {
        font-size: 18px;
        color: rgb(173, 119, 56);
        text-decoration: none;
        font-weight: bolder;
        padding: 5px;
    }    
    .element li a:hover {
            cursor: pointer;
            color: rgb(83, 57, 27);
        
    }    
    #login{
        position: absolute;
        width: 100px;
        padding: 9px;
        margin: -32px 945px;
        border: 1px solid black;
        background-color: #faf4f1;
        border-radius: 10px;
        font-weight: bold;
        top: 57px;
        text-transform: uppercase;
    font-weight: bold;
    }
    #login:hover{
        background-color:#ebe3e0 ;
        color: black;
    }
    #register{
        position: absolute;
        width: 145px;
        padding: 9px;
        margin: -32px 1000px;
        border: 1px solid #ffbf52;
        background-color: #ffbf52;
        border-radius: 10px;
        font-weight: bold;
        left: 85px;
        top: 58px;
    text-transform: uppercase;
    font-weight: bold;
    }
    #register:hover{
        background-color:#f1a31c ;
        color: black;
    }
    #search {
        width: 130px;
        transition: width 0.4s ease-in-out;
        position: absolute;
        right: 210px;
        top: 34px;
        height: 30px;
        border: black solid 1px;
      }
      
      /* When the input field gets focus, change its width to 100% */
      #search:focus {
        width: 230px;
      }
      #search,input::-webkit-input-placeholder{
          font-size: 4mm;
      }
    
                                               /*  profile  */
.profile{
    position: absolute;
    right: 85px;
    top: 50px;
    user-select: none;
    }
    #profile_name{
    position: absolute;
    right: -18px;
    top: -30px;
    font-size: 4mm;
    
    }
                                     /* profile dropdown   */
    
    
           .profile ul li a{
                  display: inline-flex;
               align-items: center;
               height: 45px;
               
           }
           #dropdown ul li:hover{
               background-color: rgb(236, 170, 56);
               border-radius: 5px;
           }
    .profile a{
        text-align: right;
    }
    
    .profile ul li{
        position: relative;
      }
      .profile:hover{
         cursor: pointer;
      }
      #dropdown{
          position: absolute;
          top: 35px;
          right: -50px;
        background: #ffbf52;
        border-radius: 5px;
        display: none;
        align-items: left;
    }
    #dropdown ul li{
        padding: 2px 30px;
        
    }
    #dropdown ul li a{
        text-decoration: none;
        color:#6c276c;
    }
    #dropdown ul li a svg{
     margin-right: 10px;
    }
    #dropdown:before{
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        border: 10px solid;
        border-color: transparent transparent rgb(255, 191, 82) transparent;
    }
    .profile ul li.active #dropdown{
        display: block;
      }
      

      .top{
        display: contents;
      }

                            /* course content  */
    #courses_content{
        position: absolute;
        display: inline-block;
        margin: 100px 255px;
        width: 60%;
        /* top: 215px; */
        right: 00vh;
    }
    #courses_text{
        font-size:5mm;
        color: white;
        margin: auto;
        width: 100%;
        font-weight: 900;
        text-shadow: #ebe3e0 ;
    }


                                       /* courses   */
    
                
    #python{
        margin-top:44px;
        margin-bottom: 44px;
    }
    #java{
        margin-top:55px;
        margin-bottom: 55px;

    }
                                            /* footer  */
#footer_text{
position: absolute;
left: 405px;
top: 347vh;
}
.social{
    position: absolute;
    right: 450px;
    top: 360vh;
}



